<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
     <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%static 'index.css'%}">

<title>{% block title %}Page principale {% endblock %} </title>
</head>
<body>
<header class="tete">
    <a href="/Titre/genre">ajouter un genre</a>
    <a href="/Titre/formulaire">ajouter un titre </a>
    <a href="/Titre/all">liste de vos titres</a>
    <a href="/Titre/allgenre">liste de vos genre</a>
    <a href="/Titre/main">page principale</a>
    <img src="/static/netflix.png" width="50px">


</header>
 {% block content %}

    {% endblock %}
<p>Bienvenue sur mon site</p>

</body>
</html>