<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
     <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%static 'index.css'%}">

<title>{% block title %}Choix des titres {% endblock %} </title>
</head>
<header>

</header>
<body>
<div id="content">
    {% block content %}
        <h1>Bienvenue</h1>
    {% endblock %}
</div>
   <aside id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/Titre/all">Tous les titres</a></li>
            <li><a href="/Titre/genre">ajouter un genre</a></li>
        </ul>
        {% endblock %}
    </aside>
</body>
</html>